{
	"bracketSpacing": false,
	"printWidth": 140,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"editor.formatOnSave": true,
	"allowParent": "avoid",
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"jsxBracketSameLine": true,
	"vueIndentScriptAndStyle": true,
	"stylelintIntegration": true,
	"eslintIntegration": true
}
