$textColor: #4a4c4f;
$background: #393f44;

@mixin flex($jus, $al, $fxd) {
	display: flex;
	justify-content: $jus;
	align-items: $al;
	flex-direction: $fxd;
}

@mixin defaultShadow {
	-webkit-box-shadow: 0px 0px 32px -8px rgba(179, 187, 199, 0.8);
	-moz-box-shadow: 0px 0px 32px -8px rgba(179, 187, 199, 0.8);
	box-shadow: 0px 0px 32px -8px rgba(179, 187, 199, 0.8);
}
